@import "grid.css";
@import "font-awesome.css";
@import "superfish.css";

@import url(//fonts.googleapis.com/css?family=BenchNine);
@import url(//fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
html {
    width: 100%;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    background-color: #fff;
    color: #615f5f;
    font: 300 14px/20px 'Open Sans', sans-serif;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

strong {
    font-weight: 700;
}

address {
    font-style: normal;
}

p {
    margin-bottom: 20px;
}

input, textarea {
    border-radius: 0 !important;
    outline: none !important;
}


img {
    max-width: 100%;
}



/****Heads****/


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #383636;
    font-family: 'BenchNine', sans-serif;
}

h2 {
    padding-top: 100px;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 22px;
}

h3 {
    font-size: 60px;
    line-height: 60px;
    padding-top: 71px;
    margin-bottom: 32px;
}

.page1 h3 {
    text-align: center;
    padding-top: 40px;
    margin-bottom:25px;
}

.page1 h3.head1 {
    padding-top: 40px;
    margin-bottom: 29px;
}

/****Lists****/


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list {
    padding-top: 20px;
    margin-bottom: 36px;
}

.list + h3 {
    padding-top: 0;
}

.list li {
    font-weight: normal;
    padding-left: 30px;
    background: url(../images/marker.png) 0 7px no-repeat;
}

.list li+li {
    margin-top: 16px;
}

.rate {
    margin-right: 64px;
    font-size: 14px;
    color: #383636;
    font-weight: normal;
}

.rate li>span {
    display: inline-block;
    margin-left: 12px;
}

.rate li>span+span {
    float: right;
    margin-right: 18px;
}

.rate .bar {
    position: relative;
    height: 12px;
    background-color: #bfbebe;
}

.rate li .scale {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #5e5c5c;
    width: 39%;
}

.rate li+li  {
    margin-top: 15px;
}

.rate li+li+li  {
    margin-top: 19px;
}

.rate li+li  {
    margin-top: 15px;
}

.rate li+li .scale {
    width: 31%;
}


.rate li+li+li .scale {
    width: 20%;

}

.rate li+li+li+li .scale {
    width: 11%;
}
/****Links****/


a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a:hover {
    color: #ccc;
}

.btn {
    font: 30px/30px 'Pathway Gothic One', sans-serif;
    display: inline-block;
    border: 1px solid #828282;
    color: #3a3838;
    padding: 3px 48px 12px;
    margin-top: 23px;
}

.btn:hover {
    background-color: #828282;
    color: #fff;
}

.page1 .btn {
    margin-top: 41px;  
}


/****classes****/

.mb0 {
    margin-bottom: 0px !important;
}
.m0 {
    margin: 0 !important;
}
.pad0 {
    padding: 0 !important;
}

.pad1 {
}


.img_inner {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 5px;
}

.page1 .img_inner {
    margin-top: 7px;
}

.fleft {
    float: left;
    width: auto !important;
    margin-right: 30px;
    margin-bottom: 0px;
}


.oh {
    overflow: hidden;
}
.fright {
    float: right !important;
}
.upp {
    text-transform: uppercase;
}

.alright {
    text-align: right;
}
.ta__center {
    text-align: center;
}

.ta__left {
    text-align: left;
}

.wrapper, .extra_wrapper {
    overflow: hidden;
}
.clear {
    float: none !important;
    clear: both;
}

.oh {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.rel {
    position: relative;
}

/*header*/

header {
    display: block;
    position: relative;
    z-index: 800;
    padding-top: 28px;
    border-bottom: 1px solid #414141;
}

header h1 {
    position: relative;
    text-align: center;
    z-index: 990;
    float: left;
}


header h1 a {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;    
    text-indent: -999px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}

header h1 a img {
    display: block;
}


/****Content****/

.content {
    padding-bottom: 77px;
}

.page1 .content {
    padding-top: 1px;
}

.st1 {
    font-size: 24px;
    line-height: 30px;
}

.st1  .color1 {
    font-weight: normal;
    color: #000;
}

/****Blocks****/
.banners {
    padding-top: 41px;
    margin-left: -1px;
}

.banner {
    margin-bottom: 1px;
    display: block;
    float: left;
    position: relative;
    color: #fff;
    font: 48px/48px 'BenchNine', sans-serif;
    padding-left: 1px;
}

.bann_capt {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -34px;
}

.banner:hover span {
    width: 100%;
    color: #fff;
}


.bann_capt span {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    padding-bottom: 14px;
    width: 241px;
    display: inline-block;
    border-bottom: 1px solid #fff;
}

/*.circle {
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 500px;
    margin-top: 13px;
}

.circle div {
    background-color: #000;
    opacity: 0;
    border-radius: 500px;    
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.circle .c_caption {
    z-index: 10;
    position: absolute;
    top: 50%;
    opacity: 0;
    margin-top: -39px;
    left: 0;
    right: 0;
    color: #fff;

    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.circle:hover .c_caption {
    opacity: 1;
}

.circle .c_caption .title {
    padding: 0 18px 12px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #fff;
    font: 36px/36px 'BenchNine', sans-serif;
}

.circle a {
    font: 24px/30px 'Pathway Gothic One', sans-serif;
    color: #fff;
}

.circle a:hover {
    color: #fff;
    text-decoration: underline;
}

.circle:hover div {
    opacity: 0.5;
}


.circle:hover span {
    opacity: 0.5;
    border-color: #888;
}

.circle span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 16px solid #fff;
    opacity: 0.6;
    z-index: 2;
    border-radius: 500px;
     transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.circle img {
    width: 100%;
    border-radius: 500px;
     transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    position: relative;
}
*/
.block1 {
    overflow: hidden;
}

.blog {
    overflow: hidden;
}

.blog+.blog {
    margin-top: 43px;
}

.blog_links {
    margin-bottom: 10px;
    padding-top: 1px;
}

.blog .fleft {
    margin-top: 4px;
    border: 1px solid #d4cece;
    border-right-width: 2px;
}

.blog .btn {
    margin-top: 26px;
}

/****Gallery****/

.gall_item {
    margin-top: 5px;
    display: block;
    position: relative;
    margin-bottom: 31px;
    background: #000 url(../images/magnify.png) center center no-repeat;
    border: 1px solid #d3cdcd;
}

.gall_item img {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    width: 100%;
    box-shadow: 0 0 #fff;
}

.gall_item:hover img {
    opacity: 0.2;
}

/****Separators****/

.sep__1 {
    padding-top: 47px;
    margin-bottom: 29px;
    border-bottom: 1px solid #414141;
}

.sp__1 {
    padding-top: 76px;
    margin-bottom: 30px;
}

.sep__1.sp__2 {
    position: relative;
    top: 1px;
    padding-top: 76px;
    margin-bottom: 0px;
}

.sep__2 {
    height: 44px;
}

.sep__3 {
    height: 43px;
}

.sep__4 {
    height: 49px;
}


/*******Search******/

#search {
    position: relative;
    padding-top: 6px;
}

#search+h3 {
    padding-top: 41px;
    margin-bottom: 17px;
}

#search .rel {
    position: relative;
}

#search label {
    display: block;
}

#search input {
     width: 100%;
     height: 47px;
     padding: 13px 55px 14px 20px;
     font: 14px/20px 'Open Sans', sans-serif;
     color: #383636;
     border: 1px solid #d1caca;
     box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}




#search a
 {
    display: block;
    position: absolute;
    background: url(../images/search_icon.png) center center no-repeat;
    width: 64px;
    height: 47px;
    right: 0;
    top: 0;
    cursor: pointer;
}

#search a:hover
{
    opacity: 0.5;
}



/****Text styles****/
.text1 {
    color: #3a3838;
    margin-bottom: 11px;
    font: 30px/30px 'Pathway Gothic One', sans-serif;
}

.fw1 {
    font-weight: normal;
}

.text1.tx__1 {
    margin-bottom: 39px;
}

.page1 .text1 {
    margin-bottom: 7px;
}

.text1 time {
    display: block;
    font-size: 24px;
}


.text1 time+a {
    position: relative;
    top: -3px;
}

.color1 {
    color: #383636;
}

.color1 a:hover, a.color1:hover {
    color: #ccc;
}

.color2 {
    color: #eee;
}

.td_underline {
    text-decoration: underline;
}

/****Map****/

.map {
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 40px;
}

.map figure {
    position: relative;
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.map figure iframe {
    width: 100%;
    height: 264px;
    max-width: 100%;
}

.address1 {
    padding-top: 3px;
    display: block;
    float: left;
}

.address1 dt {
}

.address1+.address1 {
    margin-left: 60px;
}

.address1 dd span {
    min-width: 85px;
    display: inline-block;
    text-align: left;
}

.address1 dd span.col1 {
    min-width: 0;
}

/**Footer**/

#footer {
    display: block;
    padding: 48px 0 40px;
    border-top: 1px solid #414141;
}

.copyright {
    font-weight: normal;
    float: left;
    font-size: 14px;
    line-height: 18px;
    color: #535a5f;
}

.copyright .brand {
    position: relative;
    top: -2px;
    font-weight: 300;
    font-size: 18px;
}

.copyright div {
    padding-top: 5px;
    color: #908b8b;
}

.copyright div a:hover {
    color: #535a5f;
}

.socials {
    float: right;
    color: #2a2828;
    overflow: hidden;
}

.socials .fa {
    font-size: 36px;
    float: left;
    line-height: 38px;
}

.socials .fa.fa-twitter {
    font-size: 38px;
}

.socials .fa.fa-youtube-play {
    margin-left: 23px !important;
}

.socials .fa +.fa {
    margin-left: 19px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 640px;
    overflow: hidden;
    width: 69px;
    height: 79px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0; 
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1199px) {
    .banner {
        width: 468px;
    }

    .banner+.banner {
        width: 467px;
    }

     .banner+.banner+.banner {
        width: 468px;
        clear: left;
     }

     .banner+.banner+.banner+.banner {
        width: 467px;
        clear: none;
     }

      .ih-item.circle.effect2 .info h3 {
        padding-top: 60px !important;
        font-size: 28px !important;
    }

    .ih-item.circle, 
    .ih-item.circle .img {
        width: 220px !important;
        height: 220px !important;
    }

}
@media only screen and (max-width: 979px) {

    .ih-item.circle, 
    .ih-item.circle .img {
        width: 172px !important;
        height: 172px !important;
    }

    .ih-item.circle.effect2 .info h3 {
        padding-top: 50px !important;
        font-size: 20px !important;
        line-height: 24px !important;
    }

    .ih-item.circle.effect2 .info p {
        font-size: 18px !important;
    }


    .blog .extra_wrapper {
        overflow: visible;
    }

    .fleft {
        margin-right: 10px;
    }

    .address1 {
        float: none;
    }

    .address1 +.address1  {
        margin-left: 0;
        margin-top: 30px;
    }
    
     .map figure,  
     .map figure iframe,  
     #form input,
     #form textarea,  
     #form .success {
        width: 100% !important;
        float: none !important;
    }
     #form .success {
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;
         -o-box-sizing: border-box;
         box-sizing: border-box;
    }

     .map figure {
     height: auto !important;
    }

    .map figure {
    	margin-bottom: 15px;
    }

    .nowrap {
        white-space: normal;
    }


    .address1 dd span  {
        min-width: 0;
    }
    

    .banner {
        width: 370px;
    }

    .banner+.banner {
        width: 370px;
    }

     .banner+.banner+.banner {
        width: 370px;
        clear: left;
     }

     .banner+.banner+.banner+.banner {
        width: 370px;
        clear: none;
     }

     .circle .c_caption .title {
        font-size: 25px;
     }

     .block1 .fleft,
     .blog .fleft  {
         margin-top: 40px !important;
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
     }
}

@media only screen and (max-width: 767px) {
  
    .circle {
        margin-bottom: 30px;
    }

    .circle {
        margin-bottom: 30px;
    }

    .ih-item.circle, 
    .ih-item.circle .img {
        width: 420px !important;
        height: 420px !important;
    }

    .ih-item.circle.effect2 .info h3 {
        padding-top: 170px !important;
        font-size: 36px !important;
        line-height: 40px !important;
    }

    .ih-item.circle.effect2 .info p {
        font-size: 18px !important;
    }

    .sep__4 {
        height: 0;
    }

    .gall_item {
        margin-top: 40px;
    }

    .sep__2 {
        height: 0;
    }

    h2 {
        font-size: 50px;
        line-height: 55px;
    }

    h3 {
        font-size: 40px;
    }

    .socials {
        float: none;
        margin-bottom: 20px;
    }

    .circle .c_caption .title {
        font-size: 36px;
     } 

    .banner {
        float: none !important;
        width: auto !important;
        margin-bottom: 1px;
    }

    .img_inner img {
    	width: 100%;
    }

    .img_inner {
        margin-top: 40px !important;
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }


    header h1 {
        padding-top: 15px;
        position: relative !important;
        margin-bottom: 20px;
        padding-left: 0;
        float: none;
        left: 0;
        text-align: center;
    }

    .head_top  {
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 0;
    }

    header h1 a {
        max-width: 90%;
        width: auto;
        display: inline-block;
        height: auto;
    }

    .map figure iframe {
        height: 300px;
    }

    .content .noresize {
        width: auto !important;
        float: left !important;
        margin-right: 20px !important;
        margin-top: 4px !important;
    }

    .img_inner {
        margin-top: 30px;
    }
    .none {
        clear: both;
    }
}


@media only screen and (max-width: 479px) {
    
    .ih-item.circle, 
    .ih-item.circle .img {
        width: 300px !important;
        height: 300px !important;
    }

    .ih-item.circle.effect2 .info h3 {
        padding-top: 110px !important;
        font-size: 36px !important;
        line-height: 40px !important;
    }

    .ih-item.circle.effect2 .info p {
        font-size: 18px !important;
    }    
}

.butt	{
			position: relative;
			vertical-align: top;
			width: 154px;
			height: 34px;
			padding: 0;
			font-size: 15px;
			color: white;
			text-align: center;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			background: #bdc3c7;
			border: 0;
			border-bottom: 2px solid #acb2b7;
			cursor: pointer;
			-webkit-box-shadow: inset 0 -2px #acb2b7;
			box-shadow: inset 0 -2px #acb2b7;
			margin-top: 10px;
			margin-left: 2px;
			
	}
	
	
.button{
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#a8ffa8; 
 background-image: -moz-linear-gradient(top, #a8ffa8 0%, #124702 100%); 
 background-image: -webkit-linear-gradient(top, #a8ffa8 0%, #124702 100%); 
 background-image: -o-linear-gradient(top, #a8ffa8 0%, #124702 100%); 
 background-image: -ms-linear-gradient(top, #a8ffa8 0% ,#124702 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#124702', endColorstr='#124702',GradientType=0 ); 
 background-image: linear-gradient(top, #a8ffa8 0% ,#124702 100%);   
 -webkit-box-shadow:0px 1px 3px #000000, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 1px 3px #000000,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 1px 3px #000000, inset 0px 0px 1px #ffffff;  
 float: right;
  
  }
 
/*LINKS*/

#mainContent a:link, #mainContent a:visited {color:#fff; text-decoration:none; font-size:18px; background:#000000; padding:5px; -webkit-border-radius:10px;
-moz-border-radius:10px}
#mainContent a:hover, #mainContent a:active {color:#fff; text-decoration:none; font-size:18px; background:#333333; padding:5px; -webkit-border-radius:10px;
-moz-border-radius:10px} 

/*STYLES FOR CSS POPUP*/


#blanket {
   background-color:#111;
   opacity: 0.95;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
position: absolute;
background: rgb(223, 250, 223);
width: 400px;
height: 135px;
z-index: 9002;
}

#popUpDiv a {position:relative; top:20px; left:20px}